################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PC Visual Studio/.vs/BoulevardsGraphicRenderer/v15
